body {
    font-family: Arial, sans-serif;
    background: url('/static/global/images/biblioteca.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.simple-header {
    background-color: rgba(0, 86, 179, 0.9); /* Azul escuro com transparência */
    padding: 15px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simple-header h1 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.back-button {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background-color: #0056b3;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #004494;
}

.user-management {
    max-width: 1500px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    margin-bottom: 20px;
    text-align: right;
}

.search-container form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-container input[type="search"] {
    padding: 8px;
    color: #e0a800;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.search-button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #004494;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #0056b3;
    color: #fff;
    text-transform: uppercase;
}

.user-table td {
    background-color: #f9f9f9;
}

.user-photo {
    width: 80px; /* Largura da imagem */
    height: 80px; /* Altura da imagem */
    border-radius: 50%; /* Transformar a imagem em círculo */
    object-fit: cover; /* Garantir que a imagem preencha o espaço sem distorção */
}

.btn-view, .btn-edit, .btn-delete {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
}

.btn-view {
    background-color: #28a745; /* Verde */
    color: #fff;
}

.btn-edit {
    background-color: #ffc107; /* Amarelo */
    color: #333;
}

.btn-delete {
    background-color: #dc3545; /* Vermelho */
    color: #fff;
}

.btn-view:hover {
    background-color: #218838;
}

.btn-edit:hover {
    background-color: #e0a800;
}

.btn-delete:hover {
    background-color: #c82333;
}
